<table class="table " style="width: 18rem; width: 100%; margin: 5px 5px;">

    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>TELEFONO</th>
            <th>ACTIVO</th>
            <th>ACTIVO</th>
            <th>ACTIVO</th>
            <th>ACTIVO</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td> <a href="{% url 'proveedor_ficha' proveedor.id %}"> {{proveedor.nombre_proveedor}}</a></td>

            <td>{{proveedor.mail_proveedor}}</td>
            <td>{% if proveedor.estado_proveedor%}SI{% else %} NO {% endif %}</td>
            <td>{% if proveedor.estado_proveedor%}SI{% else %} NO {% endif %}</td>
            <td>{% if proveedor.estado_proveedor%}SI{% else %} NO {% endif %}</td>
            <td>{% if proveedor.estado_proveedor%}SI{% else %} NO {% endif %}</td>
        </tr>

    </tbody>
</table>