{% extends 'core/baseLogin.html'%}

{% block title %}Distribuidora{% endblock %}

{%load static%}
{%block content%}

<div class="container" >
    {%if HAS_ACCESS %}
    <a href="{% url 'nuevo_proveedor' %}" class=" btn btn-primary btn-success" style="margin: 10px 1px;">Nuevo</a>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>CIF</th>
                <th>TELEFONO</th>
                <th>EMAIL</th>
                <th>
                    <label></label><br>
                    <div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Estado:
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'proveedoresPorEstado' 1 %}">Activos</a>
                            <a class="dropdown-item" href="{% url 'proveedoresPorEstado' 2 %}">Inactivos</a>
                            <a class="dropdown-item" href="{% url 'proveedoresPorEstado' 0 %}">Todos</a>
                        </div>
                    </div>
                   
                </th>
            </tr>
        </thead>  
        <tbody>
        
        
         {% for proveedor in proveedores%}
            <tr>
                <td> <a href="{% url 'proveedor_ficha' proveedor.id %}" > {{proveedor.nombre_proveedor}}</a></td>   
                <td>{{proveedor.cif_proveedor}}</td>
                <td>{{proveedor.tel_proveedor}}</td>
                <td>{{proveedor.mail_proveedor}}</td>
                <td>{% if proveedor.estado_proveedor%}SI{% else %} NO {% endif %}</td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    {% else %}

    <p style="color: red;">No tiene acceso</p>

    {% endif %}

</div>

{% endblock %}