{% extends 'core/baseLogin.html'%}

{% block title %}Nuevo Producto{% endblock %}

{%load static%}
{%block content%}

<div class='container'>
    {%if form%}
    <form method="POST"  id="upload-image-form" enctype="multipart/form-data" style=" margin: 10px 10px;">
    {%csrf_token%}
        <h3>Ingrese los datos</h3>
        <table class="" style="text-align: center; margin: 10px 10px;">
            
            {% if idProveedor %}
            <tr>
                <td></td>
                <!--<td>{{form.id_proveedor}}</td>-->
                <td><input type="hidden" name='id_proveedor' value="{{idProveedor}}"> </td>
            </tr>      
            {% else %}      
            <tr>
                <td>Proveedor:</td>
                <td>{{form.id_proveedor}}</td>
                
            </tr>
            {%endif%}

            <tr>
                <td>Nombre</td>
                <td>{{form.nombre_producto}}</td>
            </tr>
            <tr>
                <td>Descripción:</td>
                <td>{{form.descripcion_producto}}</td>
            </tr>
            <tr>
                <td>Precio:</td>
                <td>{{form.precio_producto}}</td>
            </tr>
            <tr>
                <td>Disponible? :</td>
                <td>{{form.disponible_producto}}</td>
            </tr>
        
            <tr>
                <td>Imagen:</td>
                <td>{{form.imagen_producto }}</td>
            </tr>
        </table>
        <input type="submit" class='btn btn-success' value="Confirmar">
        <a href="{% url 'proveedores'%}" class='btn btn-danger'>Cancelar</a>
    </form>

   

    {% endif %}
</div>


{% endblock %}